body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.form-container {
    padding: 20px;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.form-container form{
  max-width: 60%;
  background-color: blue;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sub-container{
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
}

.column-L{
  max-width: 46%;
  padding: 10px;
  background-color: white;
}

.column-R{
  max-width: 46%;
  padding: 10px;
  background-color: white;
}

.card-container {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    backgroud-color: blue;
    display: none; /* Oculto hasta que se genere la card */
}

.logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
