* {
  margin: 0;
  padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    
}

.form-container {
    padding: 20px;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.form-container form{
  max-width: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sub-container{
  max-width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.column-L{
  width: 49%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.column-R{
  width: 49%;
  padding: 10px;
  background-color: white;
}

.box-general{
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.box-general label{
  text-align: left;
  font-size: 20px;
}

.box-general input{
  height: 30px;
  border-radius:10px;
  text-size: 20px;
}

.logo {
    width: 140px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.card-container {
    border: 2px solid #ccc;
    padding: 20px;
    width: 550px;
    margin: 0 auto;
    border-radius: 10px;
    display: none; /* Oculto hasta que se genere la card */
}

.card-sub-container {
  display: flex;
  flex-direction: row;
}

.card-column-L{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-column-R{
  width: 69%;
  padding: 5px;
  text-align: left;
}
